:root {
  --bg: #101010;
  --fg: #d4be98;
}

html,
body,
div,
span,
header,
nav,
main,
article,
section,
aside,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
p,
strong,
em,
b,
i,
u,
a,
ul,
ol,
li,
blockquote,
pre,
code,
img,
audio,
video,
table,
caption,
thead,
tbody,
tfoot,
tr,
th,
td,
form,
input {
  margin: 0;
  padding: 0;
  background: transparent;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
}

header,
nav,
main,
article,
section,
aside,
footer,
blockquote,
pre,
img,
audio,
video,
table,
form {
  display: block;
}

html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  background-color: var(--bg);
  font-family: monospace;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  color: var(--fg);
}

p {
  text-align: center;
}

.wrapper {
  height: 100vh;
  width: 800px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#date {
  margin-bottom: 2em;
}
