:root {
  --bg: #101010;
  --fg: #d4be98;
}

body {
  background-color: var(--bg);
  font-family: monospace;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2;
  color: var(--fg);
}

p {
  text-align: center;
}

.wrapper {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#date {
  margin-bottom: 2em;
}

